html{
    /* Suavização do scroll */
scroll-behavior: smooth;
}

/* Corpo da aplicação */
body {
    /* background */
background-color: rgb(255, 120, 120);
/* texto */
color: rgb(255, 255, 255);
text-align: justify;

/* alinhamento e tamanho */
/* 1rem = 16px, tela grande =   font-size: 16px, tela media = font-size: 15px, tela pequenas = font-size: 14px */
width: 100%;
margin: auto;
}
section {
  
    padding: 64px 256px;
}

/* Tabela */
table {
    width: 100%;
}
td {
    background-color: rgb(255, 75, 75);

}


td,th{
    border: black solid 1px;
    border-radius: 4px;
    text-align: center;
}
tr {
    background-color: rgb(128, 0, 0);
}

/* Titulo,texto e parágrafo */
p {
    text-align: justify;
    text-indent: 50px;
}
h1,h2,h3{
text-align: center;
}
h3{
    color:black;
}

/* Link */
a:link {
    color: #f2e7dc;  /*link normal*/
} 
a:visited {
    color: #95bfb8   /*Link visitado*/
    ;
}
a:hover {
color: #025454;  /*Mouse sobre o link*/
}
a:active {
    color: #0d0d0d;   /*Link ativo*/
}

/* Imagem */
img {
    width: 300px;
    display: block;
    margin: auto;
    border-radius: 50px;
}

/* Classes e IDs */
.bookTitle {
    background-color: rgb(54, 17, 17);
    color: rgb(255, 255, 255);
    text-align: center;
}

#sectionHP, #sectionGM, #sectionBR {
    background-color: #b49797;
}
#header {
background-color: #8c0303;
color: #f2e7dc;
padding: 20px;
margin-bottom: 0px;
}
 
#summary {
 background-color: #8c0303;
 color: #f2dcdc;
 padding: 20px;
 margin-bottom: 50px;
 border-radius: 0 0 50px 50px;

 display: flex;
 flex-direction: column;
 align-items: center;
}

#yourLibrary{
text-indent: 0px;
text-align: center;

}

/* Rodapé */

footer{
    background-color: #8c0303;
    width: 100%;
    text-align: center;
    padding: 30px 0;
}